.box1 {
  width:100%;
  border: solid black;
  border-width: 1px;
  background-color: rgb(187, 187, 187);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box2 {
  width:100%;
  border: solid black;
  border-width: 1px;
  background-color:rgb(169, 240, 169);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box3 {
  width:100%;
  border: solid black;
  border-width: 1px;
  background-color:rgb(153, 216, 255);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box4 {
  width:100%;
  border: solid black;
  border-width: 1px;
  background-color: rgb(252, 151, 210);
  margin-bottom: 10px;
  box-sizing: border-box;
}

